{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% include 'include/_flashes.html.twig' %}

    <h1 class="text-center my-4">Bienvenue sur la boutique en ligne</h1>

{% endblock %}