{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% include 'include/_flashes.html.twig' %}

    <h1 class="text-center my-4">Bienvenue sur la boutique en ligne</h1>

    <div class="row mb-3 d-flex justify-content-around">

        {%  for produit in produits %}

            <div class="col-3 mx-2">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('uploads/' ~ produit.photo) }}" class="card-img-top" alt="une photo" style="object-fit: contain;" width="150" height="220">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.title }}</h5>
                        <p class="card-text">{{ produit.description | length > 50 ? produit.description | slice(0,50) ~ '...' : produit.description }}</p>
                        <a href="{{ path('add_item', {'id': produit.id}) }}" class="col-12 btn btn-warning text-center"><i class="fa-solid fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>

        {% else %}
            <h3 class="text-center">Aucun article en ligne</h3>
        {% endfor %}

    </div>

{% endblock %}